* {
  margin: 0;
  padding: 0;
}
#hero {
  background: rgba(229, 84, 115, 0.1);
  width: 100%;
  height: 600px;
  margin-bottom: 94px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
#hero .img {
  width: 635px;
  height: 600px;
}
#hero .title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 54px;
  font-weight: 800;
}
#hero .subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  margin-top: 14px;
}
.btn {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  border: 0;
  padding: 12px;
  margin: 14px 0;
  background: rgb(229, 84, 115);
}
.title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
.flowers-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 94px;
}

.flowers-box {
  width: 364px;
  height: 438px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 310px;
  height: 328px;
}
.subtitle-1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 14px;
}

@media screen and (max-width: 576px) {
  .hero-container {
    flex-direction: column;
  }
  #hero .img {
    width: 435px;
    height: 350px;
  }
  .flowers-container {
    flex-direction: column;
  }
}
